body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a0572, #007bff);
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.header {
    background: #0099ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.header h2 {
    margin: 0;
    color: black;
    font-size: 24px;
}

.signup-form input, .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.login-link, .signup-link {
    margin-top: 10px;
    font-size: 14px;
    color: black;
}

.login-link a, .signup-link a {
    color: #131415;
    text-decoration: none;
}

.login-link a:hover, .signup-link a:hover {
    text-decoration: underline;
}
